{% extends "core/auth/auth_base.html" %}
{% load i18n %}
{% block title %}{% translate "Set a new password" %}{% endblock %}
{% block content %}
  {% if validlink %}
    <h1>{% translate "Set a new password" %}</h1>
    <p>{% translate "Choose a password you have not used before." %}</p>

    <form method="POST">
      {% csrf_token %}
      <label for="id_new_password1">{% translate "New password" %}</label>
      {{ form.new_password1 }}
      <label for="id_new_password2">{% translate "Confirm new password" %}</label>
      {{ form.new_password2 }}
      {% if form.errors %}
        <div class="err">
          {% for error in form.errors.values %}{{ error|striptags }} {% endfor %}
        </div>
      {% endif %}
      <button type="submit">{% translate "Save new password" %}</button>
    </form>
  {% else %}
    <h1>{% translate "This link has expired" %}</h1>
    <p>{% translate "Reset links can be used only once. Please request a new one." %}</p>
    <div class="foot"><a href="{% url 'password_reset' %}">{% translate "Request a new link" %}</a></div>
  {% endif %}
{% endblock %}
